<% @product.attributes.keys.each do |key| %>
    <p>
      <b><%= key %></b>
      <%= @product[key] %>
    </p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
